-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sga_kna_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agents`
--

DROP TABLE IF EXISTS `agents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agents` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `postNom` varchar(191) DEFAULT NULL,
  `prenom` varchar(191) NOT NULL,
  `dateNaissance` varchar(191) DEFAULT NULL,
  `sexe` varchar(191) DEFAULT NULL,
  `nationalite` varchar(191) DEFAULT 'Congolaise',
  `matricule` varchar(191) DEFAULT NULL,
  `typeCarte` varchar(191) DEFAULT NULL,
  `numeroCarte` varchar(191) DEFAULT NULL,
  `expirationCarte` varchar(191) DEFAULT NULL,
  `lieuDelivrance` varchar(191) DEFAULT NULL,
  `directionId` varchar(191) DEFAULT NULL,
  `directionNom` varchar(191) DEFAULT NULL,
  `serviceId` varchar(191) DEFAULT NULL,
  `service` varchar(191) DEFAULT NULL,
  `fonctionId` varchar(191) DEFAULT NULL,
  `fonctionNom` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `telephone` varchar(191) NOT NULL,
  `districtId` varchar(191) DEFAULT NULL,
  `villeId` varchar(191) DEFAULT NULL,
  `communeId` varchar(191) DEFAULT NULL,
  `avenue` varchar(191) DEFAULT NULL,
  `code` varchar(191) DEFAULT NULL,
  `statut` varchar(191) NOT NULL DEFAULT 'BROUILLON',
  `statutPaiement` varchar(191) DEFAULT 'NON_PAYE',
  `montantPaiement` double DEFAULT 0,
  `datePaiement` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `agents_matricule_key` (`matricule`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agents`
--

LOCK TABLES `agents` WRITE;
/*!40000 ALTER TABLE `agents` DISABLE KEYS */;
/*!40000 ALTER TABLE `agents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communes`
--

DROP TABLE IF EXISTS `communes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `communes` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `villeId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communes`
--

LOCK TABLES `communes` WRITE;
/*!40000 ALTER TABLE `communes` DISABLE KEYS */;
INSERT INTO `communes` VALUES ('com-1','Gombe','vil-1'),('com-2','Lingwala','vil-1'),('com-3','Kinshasa','vil-2'),('com-4','Kalamu','vil-3'),('com-5','Ndjili','vil-4'),('com-6','Kimbanseke','vil-4');
/*!40000 ALTER TABLE `communes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `directions`
--

DROP TABLE IF EXISTS `directions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `directions` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `statut` varchar(191) NOT NULL DEFAULT 'ACTIF',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `directions`
--

LOCK TABLES `directions` WRITE;
/*!40000 ALTER TABLE `directions` DISABLE KEYS */;
/*!40000 ALTER TABLE `directions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `districts` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
INSERT INTO `districts` VALUES ('dist-1','District de Lukunga'),('dist-2','District de Funa'),('dist-3','District de Mont-Amba'),('dist-4','District de Tshangu');
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents` (
  `id` varchar(191) NOT NULL,
  `agentId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `size` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `url` text NOT NULL,
  `uploadedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `documents_agentId_fkey` (`agentId`),
  CONSTRAINT `documents_agentId_fkey` FOREIGN KEY (`agentId`) REFERENCES `agents` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fonctions`
--

DROP TABLE IF EXISTS `fonctions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fonctions` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `statut` varchar(191) NOT NULL DEFAULT 'ACTIF',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fonctions`
--

LOCK TABLES `fonctions` WRITE;
/*!40000 ALTER TABLE `fonctions` DISABLE KEYS */;
/*!40000 ALTER TABLE `fonctions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_roles`
--

DROP TABLE IF EXISTS `portal_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `portal_roles` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `permissions` text DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_roles`
--

LOCK TABLES `portal_roles` WRITE;
/*!40000 ALTER TABLE `portal_roles` DISABLE KEYS */;
INSERT INTO `portal_roles` VALUES ('role-admin','Administrateur','Acc├¿s total au portail','[\"dashboard\",\"agents\",\"documents\",\"reports\",\"services\",\"directions\",\"functions\",\"settings\"]','2026-07-27 00:06:42.000','2026-07-27 00:06:42.000'),('role-rh','RH','Gestion des agents et documents','[\"dashboard\",\"agents\",\"documents\",\"reports\",\"services\"]','2026-07-27 00:06:42.000','2026-07-27 00:06:42.000'),('role-viewer','Lecteur','Consultation limit├®e','[\"dashboard\",\"reports\"]','2026-07-27 00:06:42.000','2026-07-27 00:06:42.000');
/*!40000 ALTER TABLE `portal_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_users`
--

DROP TABLE IF EXISTS `portal_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `portal_users` (
  `id` varchar(191) NOT NULL,
  `full_name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `role_id` varchar(191) DEFAULT NULL,
  `permissions` text DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'Actif',
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_users_email_key` (`email`),
  KEY `portal_users_role_id_fkey` (`role_id`),
  CONSTRAINT `portal_users_role_id_fkey` FOREIGN KEY (`role_id`) REFERENCES `portal_roles` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_users`
--

LOCK TABLES `portal_users` WRITE;
/*!40000 ALTER TABLE `portal_users` DISABLE KEYS */;
INSERT INTO `portal_users` VALUES ('user-admin','Admin Kna+','admin@kna.local','admin123','role-admin','[\"dashboard\",\"agents\",\"documents\",\"reports\",\"services\",\"directions\",\"functions\",\"settings\"]','Actif','2026-07-27 00:06:42.000','2026-07-27 00:06:42.000');
/*!40000 ALTER TABLE `portal_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `services` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `directionId` varchar(191) NOT NULL,
  `directionNom` varchar(191) DEFAULT NULL,
  `codeService` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `chefService` varchar(191) DEFAULT NULL,
  `statut` varchar(191) NOT NULL DEFAULT 'ACTIF',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `villes`
--

DROP TABLE IF EXISTS `villes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `villes` (
  `id` varchar(191) NOT NULL,
  `nom` varchar(191) NOT NULL,
  `districtId` varchar(191) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `villes`
--

LOCK TABLES `villes` WRITE;
/*!40000 ALTER TABLE `villes` DISABLE KEYS */;
INSERT INTO `villes` VALUES ('vil-1','Kinshasa Centre','dist-1'),('vil-2','Kinshasa Ouest','dist-1'),('vil-3','Kinshasa Sud','dist-2'),('vil-4','Kinshasa Est','dist-4');
/*!40000 ALTER TABLE `villes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-29 15:10:26
